<h2><%= @zombie.name %>'s weapons</h2>
<ul>
  <% @weapons.each do |w| %>
    <li><%= link_to w.name, zombie_weapon_path(@zombie,w) %></li>
  <% end %>
</ul>

<%= link_to "New Weapon",  new_zombie_weapon_path(@zombie) %>
